<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- 這個區段定義 My.Application.Log 的記錄組態-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- 取消註解下列區段，以寫入應用程式事件記錄檔-->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- 取消註解下列區段，並將 APPLICATION_NAME 取代成您的應用程式名稱，以寫入至應用程式事件記錄檔-->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="RiskMartEntities" connectionString="metadata=res://*/BIS.csdl|res://*/BIS.ssdl|res://*/BIS.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.5.48.91;Initial Catalog=RiskMart;Persist Security Info=True;User ID=TRiskUser;Password=12345;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.runtime.remoting>
    <application name="ClientTestForm">
      <client>
        <wellknown type="BloombergLib.BloombergLib.CBloombergRemoteFactory,BloombergLib" url="tcp://10.5.20.23:8085/CallBloombergFunction"/>
      </client>
      <channels>
        <channel ref="tcp client">
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>