<?xml version="1.0"?>
<configuration>
	<system.runtime.remoting>
	<application name="ClientTestForm">
		<client>
		<wellknown type="BloombergLib.BloombergLib.CBloombergRemoteFactory,BloombergLib" url="tcp://10.5.20.23:8085/CallBloombergFunction"/>
		</client>
		<channels>
			<channel ref="tcp client">
			</channel>
		</channels>
	</application>
	</system.runtime.remoting>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
